body { background-color: rgb(163, 203, 241);
}
h1 { color: aliceblue;
     font-size: 50px;
     text-align: center;
    }
p { font-size: 30px;
    text-align: center;}
    img { width: 300px;
    height: 300px;
margin-left: 250px;}
.cabecalho{
    background-color:aliceblue ;
    display: flex;
}
.volei3{
    width: 120px;
    height: 120px;
}
